{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header class="site-head">
    	<h1 class="blog-title">
        <a href="{{@blog.url}}">
        {{@blog.title}}
        </a>
        </h1>
            <h2 class="blog-description">{{@blog.description}}</h2>

    {{> links}}
</header>